.main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #F3E9DD, #E6D2B5, #F5E6CC);
}

.card-container{
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background-color: #FAF3E7;
  width: 23%;
}

.main-heading{
  text-align: center;
  margin-bottom: 20px;
  color: #3A1F04;
  font-size: 24px;
}

.input-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label-text {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #613613;
}

.input-text{
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button{
  width: 100%;
  padding: 10px;
  background-color: #3A1F04;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.redirect-text{
  font-size: 14px;
  color: #613613;
}

.link-text{
  color: #3A1F04;
  text-decoration: none;
  font-weight: 600;
}